@import url('https://fonts.googleapis.com/css2?family=Kaushan+Script&family=Poppins&display=swap');
*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}

html{
    scroll-behavior: smooth; 
}
    
:root{
    --mainWhite: whitesmoke;
    --mainFont: 'Poppins', sans-serif;
    --mainTransition: all 0.3 linear;

}
body{
    background-color:var(--mainWhite);
   
    transition: var(--mainTransition);
    overflow-x: hidden;

}


.nav{
    display:flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    font-family: var(--mainFont);
    font-size: 20px;
    background-position: sticky;
    
}
@media screen and (max-width: 700px) {
    .nav {
        font-size:15px;

    }

}
@media screen and (max-width: 400px) {
    .nav {
        font-size:10px;

    }
}
.list ul{
    display:flex;
    flex-direction: row;
    list-style-type: none;
    justify-content: space-evenly;
    margin:0;
}
.list ul li{
    margin: 10px;
    
    
}
.main{
    position: relative;
    background-image: linear-gradient(to right top, #567eb9, #3d91b1, #5e9e9e, #88a596, #a8ac9f);

}
.item{
    position:absolute;
    width:100%;
    height:50%;
}

/*---------------hero--------------*/
   
 
.intro{
    position: absolute;
    text-align: center;
    top: 50%;
    left: 50%;
    width:50%;
    transform: translate(-50%,-50%);
    color: rgb(100, 100, 177);

}
.intro h1{
    font-family: 'Kaushan Script', cursive;
    font-size: 60px;
    background: rgb(255, 255, 255, 0.7);

}
/*----------try---------*/
@media screen and (max-width: 700px) {
    .intro h1 {
        font-size: 150%;
    }
}
.intro button, .festival-container button{
    height: 50px;
    width:90px;
    margin: 10px;
    outline-style: none;
    border-style: none;
    background:rgb(100, 100, 177,0.7);
    color: white;
    font-family: var(--mainFont);
    border-radius: 5px;
    font-size: 20px;
}
.intro button:hover{
    background:rgb(100, 100, 177);
}
.item{
    margin:0;
}
.container{
    background-image: linear-gradient(to right top, #567eb9, #3d91b1, #5e9e9e, #88a596, #a8ac9f);
    padding:0;

}
#places{
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-family: var(--mainFont);
    text-align: center;
    text-transform: capitalize;
}
#places h1{
    background:rgb(100, 100, 177) ;
    color:var(--mainWhite);
    padding:20px;
    margin-bottom: 30px;;
}
@media screen and (max-width: 700px) {
    #places h1 {
        font-size: 20px;
    }
}
.pic-ctn{
    height:auto;
}

.pic-ctn img{
    height:250px ;
    width: 250px ;
    cursor: pointer;
    margin: 5px;
}

section{
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#district{
    margin-top:20px;
    width:80%;
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}    

    

.districts{
    background: rgb(100, 100, 177,0.7);
    display:flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin:20px;
    font-family:var(--mainFont);
    
}
@media screen and (max-width: 800px) {
    .districts {
        flex-direction:column;
        font-size:15px;
    }
}

.districts div img{

    height:250px;
    width:300px;
    margin:20px;
    
}
@media screen and (max-width: 700px) {
.districts>div>img{
    height: 200px;
    width:250px;
}
}
.districts div:nth-child(2) h1{
    background:rgb(100, 100, 177) ;
    color:var(--mainWhite);
    text-transform: capitalize;
    height:50px;
    font-size: 2rem;
    display:flex;
    text-align: center;
    justify-content: center;
    align-items: center;
    margin:20px;
    text-transform: uppercase;
    /*width:50%;*/

}
.districts div:nth-child(2) p{
    background: var(--mainWhite);
    color:rgb(100, 100, 177);
    margin:20px;
    padding: 5px;
   
}
#food, #festivals{
    display:flex;
    flex-direction:column;
    justify-content: center;
    align-items: center;
    font-family: var(--mainFont);
    text-align: center;
    text-transform: capitalize;
    
}
/*.food{
    width:100%;
    display:grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    
}*/

#food h1, #festivals h1{
    background:rgb(100, 100, 177) ;
    color:var(--mainWhite);
    padding:20px;
    margin-bottom: 30px;
}
.food{
    /*position: relative;*/
    display:grid;
    grid-template-columns: auto auto auto;
    grid-template-rows: 1fr 1fr;
}
@media screen and (max-width: 700px) {
    .food{
        display:flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    #food h1, #festivals h1{
        font-size:150%;
    }
}

.food img{
    height:300px;
    width: 100%;
    padding:20px;
    
}

.overlay-container {
    position: relative;
    width: 100%;
  }
  
.overlay {
    position: absolute;
    bottom: 100%;
    left: 0;
    right: 0;
    background-color: rgb(0,0,0,0.7);
    overflow: hidden;
    width: 100%;
    height:0;
    transition: .5s ease;
}
.overlay-container:hover .overlay {
    bottom: 0;
    height: 100%;
  }

  .text {
    color: white;
    font-size: 15px;
    position: absolute;
    font-family:var(--mainFont);
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    text-align: center;
  }
  .text h2, .festival-container h2{
      text-transform: capitalize;
  }
  .div-container{
      margin:20px;
      border-radius: 5px;
      background: rgb(100, 100, 177,0.7);
  }
  
  .festivals{
      display: grid;
      grid-template-columns: auto auto;
      grid-template-rows: 1fr 1fr 1fr 1fr;
      font-family: var(--mainFont);
  }

  @media screen and (max-width: 1000px) {
    .festivals {
        grid-template-columns: auto;
    }

}
  .festival-container h2{
    background:var(--mainWhite);
    color:rgb(100, 100, 177) ;
    text-transform: capitalize;
    height:50px;
    width:85%;
    font-size: 2rem;
    display:flex;
    text-align: center;
    justify-content: center;
    align-items: center;
    margin:20px;
    text-transform: uppercase;
  }
  .festival-container p{
    background: rgb(100, 100, 177);
    color:var(--mainWhite);
    margin:20px;
    padding: 5px;
    text-align: start;
   
}
  .festivals img{
      /*top:50%;
      left:50%;
      transform:translateX(-50%,-50%);*/
    margin-top:20px;
    height:90%;
    width: 300px;
    padding:20px;
    border-radius: 50%;
    border:5px solid white;
    transition: 0.3s ease-in;
    
  }

  .festivals img:hover{
      padding:0px;
      cursor: pointer;
  }
  @media screen and (max-width: 1000px) {
    .festivals img {
        margin-left:25%;
        height:300px;
        width:300px;
        transition: var(--mainTransition);
    }
}
  .festivals div{
      display:flex;
      flex-direction: row;
  }
 @media screen and (max-width: 1000px) {
    .festivals div {
        flex-direction:column;
    }
}

  .festivals .festival-container{
      display:flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
  }

  .footer{
      position: absolute;
      font-family: var(--mainFont);
      text-align: center;
      background:  linear-gradient(to right top, #567eb9, #3d91b1, #5e9e9e, #88a596, #a8ac9f);
      height:200px;
      width:100%;
      display:flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
  }
  .footer h4{
      color:black;
      font-size:1em;
      background: var(--mainWhite);
      line-height: 1.5em;
      word-spacing: .2em;
  }
